.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.862793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.884277;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:2.230679px;}
._3{width:20.777419px;}
._1{width:34.959737px;}
._0{width:36.391737px;}
._4{width:81.378000px;}
._6{width:83.214000px;}
._5{width:85.150000px;}
._7{width:88.722000px;}
.fc8{color:rgb(4,165,211);}
.fc7{color:rgb(38,38,38);}
.fc4{color:rgb(128,128,128);}
.fc0{color:rgb(255,255,255);}
.fc6{color:rgb(33,33,33);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(242,242,242);}
.fc5{color:rgb(64,64,64);}
.fc3{color:rgb(59,56,56);}
.fs4{font-size:36.000000px;}
.fsb{font-size:40.000000px;}
.fsc{font-size:42.000000px;}
.fs0{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs7{font-size:50.000000px;}
.fs9{font-size:52.000000px;}
.fs8{font-size:54.000000px;}
.fs6{font-size:56.000000px;}
.fs5{font-size:58.000000px;}
.fsa{font-size:72.000000px;}
.fs2{font-size:112.000000px;}
.fs1{font-size:144.000000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:15.445819px;}
.y38{bottom:15.795825px;}
.y37{bottom:16.345813px;}
.y39{bottom:16.695788px;}
.y67{bottom:44.736115px;}
.y66{bottom:62.736115px;}
.y36{bottom:62.872288px;}
.y65{bottom:80.736115px;}
.y35{bottom:87.025015px;}
.y64{bottom:98.736115px;}
.y63{bottom:116.736115px;}
.y30{bottom:120.168701px;}
.y62{bottom:134.736115px;}
.y2f{bottom:135.768707px;}
.y2e{bottom:151.368713px;}
.y61{bottom:152.736115px;}
.y2d{bottom:166.968735px;}
.y60{bottom:170.736115px;}
.y2c{bottom:182.568741px;}
.y5f{bottom:188.736114px;}
.y2b{bottom:198.168747px;}
.y2a{bottom:213.768753px;}
.y5e{bottom:215.260086px;}
.y29{bottom:229.368759px;}
.y28{bottom:244.968765px;}
.y27{bottom:260.568771px;}
.y26{bottom:276.168777px;}
.y5a{bottom:283.431689px;}
.y5b{bottom:283.481738px;}
.y25{bottom:291.768784px;}
.y59{bottom:295.433895px;}
.y58{bottom:306.881701px;}
.y57{bottom:306.931689px;}
.y24{bottom:307.368782px;}
.y56{bottom:318.933895px;}
.y23{bottom:322.968781px;}
.y54{bottom:330.281695px;}
.y55{bottom:330.531695px;}
.y1{bottom:339.069702px;}
.y22{bottom:339.288002px;}
.y53{bottom:342.283871px;}
.y5c{bottom:353.331683px;}
.y5d{bottom:353.581683px;}
.y21{bottom:356.508778px;}
.y52{bottom:365.783871px;}
.y51{bottom:367.351585px;}
.y20{bottom:372.108776px;}
.y50{bottom:384.498497px;}
.y1f{bottom:387.708775px;}
.y34{bottom:401.013126px;}
.y1e{bottom:403.308776px;}
.y33{bottom:425.165854px;}
.y1d{bottom:441.028931px;}
.y4f{bottom:449.045154px;}
.y4e{bottom:449.095141px;}
.y1c{bottom:456.436920px;}
.y4d{bottom:461.097317px;}
.y1b{bottom:471.844910px;}
.y4c{bottom:472.545154px;}
.y4b{bottom:472.595141px;}
.y4a{bottom:484.597317px;}
.y1a{bottom:487.832535px;}
.y49{bottom:495.895160px;}
.y48{bottom:495.945148px;}
.y19{bottom:505.228897px;}
.y47{bottom:507.947323px;}
.y46{bottom:519.395160px;}
.y45{bottom:519.445148px;}
.y18{bottom:520.636894px;}
.y44{bottom:531.447323px;}
.y17{bottom:536.624535px;}
.y43{bottom:542.545154px;}
.y42{bottom:542.595141px;}
.y16{bottom:554.020905px;}
.y41{bottom:554.597317px;}
.y40{bottom:566.045154px;}
.y3f{bottom:566.095141px;}
.y15{bottom:569.428909px;}
.y3e{bottom:578.097317px;}
.y3d{bottom:583.999802px;}
.y14{bottom:585.416550px;}
.y3c{bottom:601.146713px;}
.y13{bottom:602.812920px;}
.y12{bottom:618.220922px;}
.y3b{bottom:624.258713px;}
.y11{bottom:634.208559px;}
.y32{bottom:634.538395px;}
.y31{bottom:658.691122px;}
.ya{bottom:697.859932px;}
.y9{bottom:711.059929px;}
.y10{bottom:715.498268px;}
.y8{bottom:724.259930px;}
.yf{bottom:733.054268px;}
.y7{bottom:737.459929px;}
.ye{bottom:750.610268px;}
.y6{bottom:756.683683px;}
.yd{bottom:768.166267px;}
.y4{bottom:771.021761px;}
.y5{bottom:772.160105px;}
.yc{bottom:785.722267px;}
.y2{bottom:798.859053px;}
.y3{bottom:800.322639px;}
.yb{bottom:803.278268px;}
.h6{height:26.244141px;}
.he{height:28.242188px;}
.hf{height:28.444336px;}
.h2{height:30.121094px;}
.hc{height:31.066406px;}
.hd{height:32.859375px;}
.h5{height:33.890625px;}
.ha{height:35.597656px;}
.h9{height:36.714844px;}
.h8{height:39.160156px;}
.h7{height:39.539062px;}
.hb{height:50.835938px;}
.h4{height:81.539062px;}
.h3{height:104.835938px;}
.h1{height:841.500000px;}
.h0{height:841.625061px;}
.w0{width:595.500000px;}
.x0{left:0.000000px;}
.x1f{left:17.272598px;}
.x14{left:21.001884px;}
.x12{left:35.670937px;}
.x1e{left:44.204311px;}
.x16{left:46.176891px;}
.x19{left:60.451889px;}
.x1c{left:63.280941px;}
.x18{left:71.726887px;}
.x11{left:73.274933px;}
.x1d{left:80.747643px;}
.x1a{left:83.176888px;}
.x17{left:88.751884px;}
.x1b{left:95.635628px;}
.x15{left:97.326881px;}
.x13{left:98.776886px;}
.x3{left:164.999435px;}
.x2{left:166.463022px;}
.x7{left:216.212982px;}
.x5{left:224.862976px;}
.xd{left:235.162991px;}
.x8{left:237.512981px;}
.x6{left:253.212978px;}
.xa{left:271.526730px;}
.xe{left:323.712994px;}
.xb{left:329.148725px;}
.x9{left:343.863071px;}
.x1{left:394.341110px;}
.xc{left:400.612976px;}
.xf{left:416.013012px;}
.x4{left:428.332605px;}
.x10{left:498.000500px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:2.974239pt;}
._3{width:27.703225pt;}
._1{width:46.612983pt;}
._0{width:48.522316pt;}
._4{width:108.504000pt;}
._6{width:110.952000pt;}
._5{width:113.533333pt;}
._7{width:118.296000pt;}
.fs4{font-size:48.000000pt;}
.fsb{font-size:53.333333pt;}
.fsc{font-size:56.000000pt;}
.fs0{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs7{font-size:66.666667pt;}
.fs9{font-size:69.333333pt;}
.fs8{font-size:72.000000pt;}
.fs6{font-size:74.666667pt;}
.fs5{font-size:77.333333pt;}
.fsa{font-size:96.000000pt;}
.fs2{font-size:149.333333pt;}
.fs1{font-size:192.000000pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:20.594425pt;}
.y38{bottom:21.061100pt;}
.y37{bottom:21.794417pt;}
.y39{bottom:22.261051pt;}
.y67{bottom:59.648153pt;}
.y66{bottom:83.648153pt;}
.y36{bottom:83.829717pt;}
.y65{bottom:107.648153pt;}
.y35{bottom:116.033353pt;}
.y64{bottom:131.648153pt;}
.y63{bottom:155.648153pt;}
.y30{bottom:160.224935pt;}
.y62{bottom:179.648153pt;}
.y2f{bottom:181.024943pt;}
.y2e{bottom:201.824951pt;}
.y61{bottom:203.648153pt;}
.y2d{bottom:222.624980pt;}
.y60{bottom:227.648153pt;}
.y2c{bottom:243.424988pt;}
.y5f{bottom:251.648151pt;}
.y2b{bottom:264.224996pt;}
.y2a{bottom:285.025004pt;}
.y5e{bottom:287.013448pt;}
.y29{bottom:305.825012pt;}
.y28{bottom:326.625020pt;}
.y27{bottom:347.425028pt;}
.y26{bottom:368.225037pt;}
.y5a{bottom:377.908919pt;}
.y5b{bottom:377.975651pt;}
.y25{bottom:389.025045pt;}
.y59{bottom:393.911860pt;}
.y58{bottom:409.175602pt;}
.y57{bottom:409.242252pt;}
.y24{bottom:409.825043pt;}
.y56{bottom:425.245193pt;}
.y23{bottom:430.625041pt;}
.y54{bottom:440.375594pt;}
.y55{bottom:440.708927pt;}
.y1{bottom:452.092936pt;}
.y22{bottom:452.384003pt;}
.y53{bottom:456.378494pt;}
.y5c{bottom:471.108911pt;}
.y5d{bottom:471.442244pt;}
.y21{bottom:475.345037pt;}
.y52{bottom:487.711828pt;}
.y51{bottom:489.802114pt;}
.y20{bottom:496.145035pt;}
.y50{bottom:512.664663pt;}
.y1f{bottom:516.945033pt;}
.y34{bottom:534.684168pt;}
.y1e{bottom:537.745035pt;}
.y33{bottom:566.887805pt;}
.y1d{bottom:588.038574pt;}
.y4f{bottom:598.726872pt;}
.y4e{bottom:598.793522pt;}
.y1c{bottom:608.582560pt;}
.y4d{bottom:614.796422pt;}
.y1b{bottom:629.126546pt;}
.y4c{bottom:630.060205pt;}
.y4b{bottom:630.126855pt;}
.y4a{bottom:646.129756pt;}
.y1a{bottom:650.443380pt;}
.y49{bottom:661.193546pt;}
.y48{bottom:661.260197pt;}
.y19{bottom:673.638529pt;}
.y47{bottom:677.263097pt;}
.y46{bottom:692.526880pt;}
.y45{bottom:692.593530pt;}
.y18{bottom:694.182526pt;}
.y44{bottom:708.596430pt;}
.y17{bottom:715.499379pt;}
.y43{bottom:723.393538pt;}
.y42{bottom:723.460189pt;}
.y16{bottom:738.694539pt;}
.y41{bottom:739.463089pt;}
.y40{bottom:754.726872pt;}
.y3f{bottom:754.793522pt;}
.y15{bottom:759.238546pt;}
.y3e{bottom:770.796422pt;}
.y3d{bottom:778.666402pt;}
.y14{bottom:780.555400pt;}
.y3c{bottom:801.528951pt;}
.y13{bottom:803.750559pt;}
.y12{bottom:824.294563pt;}
.y3b{bottom:832.344950pt;}
.y11{bottom:845.611412pt;}
.y32{bottom:846.051193pt;}
.y31{bottom:878.254829pt;}
.ya{bottom:930.479909pt;}
.y9{bottom:948.079905pt;}
.y10{bottom:953.997691pt;}
.y8{bottom:965.679906pt;}
.yf{bottom:977.405691pt;}
.y7{bottom:983.279905pt;}
.ye{bottom:1000.813690pt;}
.y6{bottom:1008.911578pt;}
.yd{bottom:1024.221690pt;}
.y4{bottom:1028.029015pt;}
.y5{bottom:1029.546806pt;}
.yc{bottom:1047.629690pt;}
.y2{bottom:1065.145404pt;}
.y3{bottom:1067.096853pt;}
.yb{bottom:1071.037690pt;}
.h6{height:34.992188pt;}
.he{height:37.656250pt;}
.hf{height:37.925781pt;}
.h2{height:40.161458pt;}
.hc{height:41.421875pt;}
.hd{height:43.812500pt;}
.h5{height:45.187500pt;}
.ha{height:47.463542pt;}
.h9{height:48.953125pt;}
.h8{height:52.213542pt;}
.h7{height:52.718750pt;}
.hb{height:67.781250pt;}
.h4{height:108.718750pt;}
.h3{height:139.781250pt;}
.h1{height:1122.000000pt;}
.h0{height:1122.166748pt;}
.w0{width:794.000000pt;}
.x0{left:0.000000pt;}
.x1f{left:23.030131pt;}
.x14{left:28.002513pt;}
.x12{left:47.561249pt;}
.x1e{left:58.939082pt;}
.x16{left:61.569188pt;}
.x19{left:80.602519pt;}
.x1c{left:84.374588pt;}
.x18{left:95.635849pt;}
.x11{left:97.699910pt;}
.x1d{left:107.663523pt;}
.x1a{left:110.902517pt;}
.x17{left:118.335846pt;}
.x1b{left:127.514170pt;}
.x15{left:129.769175pt;}
.x13{left:131.702515pt;}
.x3{left:219.999247pt;}
.x2{left:221.950696pt;}
.x7{left:288.283976pt;}
.x5{left:299.817301pt;}
.xd{left:313.550654pt;}
.x8{left:316.683975pt;}
.x6{left:337.617304pt;}
.xa{left:362.035639pt;}
.xe{left:431.617325pt;}
.xb{left:438.864966pt;}
.x9{left:458.484095pt;}
.x1{left:525.788147pt;}
.xc{left:534.150635pt;}
.xf{left:554.684016pt;}
.x4{left:571.110140pt;}
.x10{left:664.000666pt;}
}
